---
import Layout from "@layouts/Layout.astro";
---

<Layout title="contactenos">
  <div class="flex-1 caja-padre" slot="after-header">
    <div class="contenido-padre text-center flex-1 flex flex-col lg:flex-row">
      <div class="texto-caja-padre text-center lg:w-[40%]">
        <h1 class="text-5xl font-bold">Contáctanos</h1>
        <p class="py-6 contenido-parrafo">
          ¡Ingresa tus datos y envíanos un mensaje!<br>Te responderemos lo más pronto posible.
        </p>
      </div>
      <div class="lg:w-[30%]">
          <form action="/nosotros/contacto/formulario.php" method="post" class="text-left flex flex-col lg:w-full">
              <label for="nombre">Nombre:</label>
              <input type="text" id="nombre" name="nombre" class="input input-bordered " required><br><br>
              
              <label for="correo">Correo electrónico:</label>
              <input type="email" id="correo" name="correo" class="input input-bordered" required><br><br>

              <label for="telefono">Telefono: </label>
              <input type="number" id="telefono" name="telefono" class="input input-bordered" required><br><br>
              
              <label for="mensaje">Mensaje:</label>
              <textarea id="mensaje" name="mensaje" class="textarea textarea-bordered resize-none" rows="5" cols="20" required></textarea><br><br>
              <span class="h-4"></span>
              
              <div class="w-full flex justify-center"><input type="submit" class="btn btn-primary w-[45%]" value="Enviar"></div>
          </form>
        </div>
    </div>
  </div>
</Layout>
<style>
  .contenido-parrafo{
    text-align: center;
  }
  .contenido-padre{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 8rem;
    max-width: 1280px;
    height: 100vh;
  }
  @media(max-width: 900px){
    .contenido-padre{
      display: flex;
      flex-wrap: wrap;
      gap: 6px;
      height: 100%;
      width: 100%;
    }
    .texto-caja-padre{
      margin: 20px 0;
    }
    .texto-caja-padre h1{
      font-size: 38px;
      text-align: center;
    }
    
  }
  @media(max-width: 425px){
    .contenido-padre{
      display: flex;
      flex-wrap: wrap;
      gap: 0;
      height: 100%;
      margin-top: 8px;
      margin-bottom: 8px;
    }
    .texto-caja-padre p{
      display: none;
    }
    .texto-caja-padre h1{
      font-size: 38px;
      text-align: center;
    }
  }
</style>
