---
import Body from "@components/Body.astro";
import Main from "@components/Main.astro";
import Layout from "@layouts/Layout.astro";
import ServiceShow from "@components/Main/ServiceShow.astro";
---

<Layout title="Pointer ERP">
  <main>
    <div>
      <Main />
      <ServiceShow />
      
    </div>
    <Body />
  </main>
</Layout>

